*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: local('Roboto'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'), 
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('ttf'),
        url('../fonts/Roboto-Bold.eot') format('eot');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: local('Roboto'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'), 
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('ttf'),
        url('../fonts/Roboto-Medium.eot') format('eot');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: local('Roboto'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'), 
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('ttf'),
        url('../fonts/Roboto-Regular.eot') format('eot');
}


html,
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #171618;
    color: #ffffff;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

.header {
    grid-area: my-header;
}

.main {
    grid-area: my-main;
}

.aside {
    grid-area: my-aside;
}

.grid {
    display: grid;
    grid-template-areas:
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-aside my-main my-main";
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 3rem 0;
}

.grid-init {
    max-width: 144rem;
    margin: auto;
    padding: 3rem 2.4rem 4rem;
}

.header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header, .header__burger-nav {
    -webkit-box-shadow: 0 .4rem 1rem rgba(255,255,255,0.07);
            box-shadow: 0 .4rem 1rem rgba(255,255,255,0.07);
}

.header__logo {
    font-size: 6.4rem;
    line-height: 117%;
    margin-right: 7rem;
    font-weight: bold;
}

.header__nav {
    margin-right: 8rem;
}

.header__nav a {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 117%;
}

.header__nav .current, .header__burger-nav .current {
    border-bottom: .3rem solid #FFFFFF;
}

.header__nav a:not(:last-child) {
    margin-right: 2rem;
}

.header__find {
    position: relative;
    width: 33rem;
    height: 4.1rem;
    border-radius: .8rem;
    margin-right: 3rem;
}

.header__find input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    background-size: 2rem;
    border-radius: .8rem;
    padding-left: 1rem;
    padding-right: 4rem;
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.header__find input::-webkit-input-placeholder {
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.header__find input::-moz-placeholder {
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.header__find input:-ms-input-placeholder {
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.header__find input::placeholder {
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.header__find img {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.header__find img::after {
    background: rgba(0, 0, 0, 1);
}

/*header__find for small screens */
.header__find-s {
    display: none;
}

.header__date {
    text-align: center;
}

.header__time {
    font-size: 2rem;
    line-height: 115%;
}

.header__day {
    font-size: 1.2rem;
    line-height: 117%;
}

.header__personal {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-left: 8rem;
}

.main-display {
    padding-top: 5rem;
}

.main-display__trailer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url('../img/back_trailer.jpg');
    width: 98.5%;
    height: 20.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.6rem;
    padding: 1.9rem 0 1.9rem 1.9rem;
    overflow: hidden;
}

.main-display__views {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 119%;
}

.main-display__header {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 150%;
}

.main-display__date {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 114%;
}

.button-play__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    cursor: pointer;
    width:8.1rem;
    height:8.1rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.07);
    -webkit-backdrop-filter: blur(1.6rem);
    backdrop-filter: blur(1.6rem);
    border-radius: 50%;
    z-index: 1;
}

.main-display__trailer::after, .trending__item::after,
.popular__item::after, .aside__item::after {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.button-play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: .2rem;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-right: 1rem;
}

.title__left, .title__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title__main {
    font-size: 2rem;
    line-height: 115%;
}

.title__right {
    cursor: pointer;
}

.title__right span {
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.2);
}

.title__right img {
    width: 2rem;
    height: 1.6rem;
    margin-left: .4rem;
}

.title__count {
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.2);
    padding-top: .3rem;
}

.trending, .popular, .popular.shown  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 1.6rem;
}

.shown {
    padding-top: 1.6rem;
}

.trending__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 48%;
    height: 25.1rem;
    background: url('../img/back_trending.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    overflow: hidden;
}

.trending__plash {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(1.6rem);
    backdrop-filter: blur(1.6rem);
    border-radius: 1.6rem;
    padding: .4rem 1.3rem;
    z-index: 5;
}

.trending__plash span {
    font-size: 1.4rem;
    line-height: 114%;
}

.trending__plash img {
    width: 1.4rem;
    height: 1.4rem;
}

.trending__footer, .popular__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1.6rem;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    background: rgba(255, 255, 255, 0.07);
    -webkit-backdrop-filter: blur(1.6rem);
    backdrop-filter: blur(1.6rem);
    z-index: 1;
}

.small {
    width: 3rem;
    height: 3rem;
    left: 7%;
}

.button-play__wrap.small .button-play {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: .2rem;
}

.trending__header {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 150%;
}

.trending__date {
    font-weight: bold;
    font-size: 1rem;
    line-height: 120%;
}

.trending__time {
    background: #FFFFFF;
    border-radius: 1.6rem;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 114%;
    color: #171618;
    padding: .4rem 1.3rem;
}

.popular__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 30%;
    height: 19.2rem;
    background: url('../img/back_popular.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    overflow: hidden;
}

.small-plus {
    width: 1.8rem;
    height: 1.8rem;
    left: 8%;
}

.button-play__wrap.small-plus .button-play {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: .2rem;
}

.button-play__wrap.small-plus {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1.6rem);
    backdrop-filter: blur(1.6rem);
}

.popular__title {
    position: absolute;
    top: 15%;
    left: 20%;
}

.popular__header {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 150%;
}

.popular__date {
    font-weight: bold;
    font-size: 1rem;
    line-height: 120%;
}

.popular__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.popular__rating span {
    font-weight: bold;
    font-size: 1rem;
    line-height: 120%;
    margin-left: .4rem;
}

.popular__img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.4rem;
    border-radius: .2rem;
}

.aside {
    padding-right: 5.9rem;
    position: relative;
}

.aside::after {
    content: url('../img/aside-triangle.svg');
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 2.2rem;
    height: 2.6rem;
    background: #FCFCFE;
    border-radius: 2rem;
    top: 10.7rem;
    right: 4.9rem;
    cursor: pointer;
}

.aside__wrap {
    background: rgba(255, 255, 255, 0.02);
    margin-left: -2.4rem;
}

.aside__top {
    padding: 5rem 2.3rem 4rem 2.4rem;
    background: #171618;
    border: .1rem solid #1C1B1F;
}

.aside__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2.6rem;
}

.aside__header {
    font-size: 2rem;
    line-height: 115%;
}

.aside__sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.aside__sort-text {
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.4);
    margin-right: 1.5rem;
}

.aside__sort-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.aside__sort-select span {
    font-size: 1.4rem;
    line-height: 114%;
}

.aside__sort-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: .4rem;

}

.aside__sort-img img {
    width: .7rem;
    height: .7rem;
    cursor: pointer;
}

.aside__sort-img img:nth-child(1) {
    margin-bottom: .3rem;
}

.aside__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 22.6rem;
    border-radius: 1.5rem;
    padding: 1.9rem 0 1.9rem 1.9rem;
    background: url('../img/aside_item.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.aside__item:nth-child(2) {
    margin-bottom: 3rem;
}

.aside__views {
    position: relative;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 119%;
    z-index: 8;
}

.aside__footer {
    position: relative;
    z-index: 10;
}

.aside__footer-bottom {
    position: relative;
}

.aside__footer-bottom::before {
    position: absolute;
    top: -50%;
    left: 0;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    content: '';
    display: block;
    width: 6.5rem;
    height: .1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
}

.aside__item-name {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 117%;
}

.aside__item-date {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}

.aside__item:nth-child(3) {
    margin-top: 3rem;
}

.aside__bottom {
    padding: 2.5rem 0 2.5rem 2.4rem;
}

.aside__favourite {
    margin-bottom: 6rem;
    padding-right: 3.8rem;
}

.aside__favourite-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 115%;
}

.aside__genre-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    padding-right: 5rem;
}

.aside__genre {
    margin-bottom: 2rem;
    margin-right: 3rem;
    padding: .5rem 1rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    line-height: 117%;
    cursor: pointer;
}

.purple {
    background: #8066F6;
}

.orange {
    background: #E1784F;
}

.green {
    background: #63CFE1;
}

.gray {
    background: #2B2A2F;
}

.aside__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 114%;
}

.aside__add-round {
    background: #2B2A2F;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: .5rem;
}

.modal-video, .modal-search {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,.5);
    padding: 3rem 0;
    z-index: 80;
    display: none;
}

.modal-search__inner, .modal-video__inner {
    width: 100rem;
    height: 100rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.autocom-box {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.autocom-box li {
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 4rem;
    padding-bottom: .8rem;
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 1);
    list-style: none;
    display: none;
    width: 100%;
    cursor: pointer;
    border-radius: .3rem;
    z-index: 50;
}

.autocom-box.active li img, .modal__body li img {
    position: absolute;
    right: 1rem;
    top: 50%;
    height: 5rem;
    width: 5rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.autocom-box.active p {
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.autocom-box li:hover {
    background: #efefef;
}

.autocom-box.active li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.modal__content {
    list-style: none;
    background-color: #ffffff;
    color: #171618;
    font-size: 2.2rem;
    line-height: 115%;
    width: 50%;
    height: 50%;
}

.modal__info li {
    position: relative;
    padding: 1rem;
    cursor: pointer;
}

.modal__info li:hover {
    background: #efefef;
}

.modal__info p {
    margin: 0;
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.modal__header {
    position: relative;
    width: 100%;
    height: 10%;
    padding: 1rem 0;
}

.modal__header img {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal__header h1 {
    text-align: center;
}

.modal-search.hide {
    display: none;
}

.header__burger, .header__burger-nav {
    display: none;
}


/*1728px=108em*/
@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

/*1680px=105em*/
@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }

    .header__day {
        font-size: 1.5rem;
    }

    .main-display__date , .aside__item-date {
        font-size: 1.5rem;
    }

    .trending__header {
        font-size: 1.6rem;
    }

    .trending__date {
        font-size: 1.25rem;
    }

    .trending__time {
        font-size: 1.45rem;
    }

    .popular__header {
        font-size: 1.3rem;
    }

    .popular__date {
        font-size: 1.15rem;
    }

    .aside__genre {
        font-size: 1.3rem;
    }
}

/*1464px=91.5em*/
@media (max-width: 91.5em) {
    html {
        font-size: 8.4px;
    }

    .header__time {
        font-size: 2.1rem;
    }

    .header__day {
        font-size: 1.6rem;
    }

    .title__main {
        font-size: 2.1rem;
    }

    .title__count {
        font-size: 2.1rem;
    }

    .title__right span {
        font-size: 1.6rem;
    }

    .trending__header {
        font-size: 1.65rem;
    }

    .trending__date {
        font-size: 1.3rem;
    }

    .trending__time {
        font-size: 1.5rem;
    }

    .autocom-box li {
        font-size: 2.5rem;
    }

    .autocom-box.active p {
        font-size: 2.5rem;
    }

    .aside__header {
        font-size: 2.1rem;
    }

    .aside__sort-text {
        font-size: 1.5rem;
    }

    .aside__sort-select span {
        font-size: 1.5rem;
    }

    .aside__favourite-text {
        font-size: 2.1rem;
    }

    .aside__add {
        font-size: 1.5rem;
    }
}

/*1456px=91em*/
@media (max-width: 91em) {
    html {
        font-size: 7.9px;
    }

    .header__day {
        font-size: 1.45rem;
    }

    .autocom-box li {
        font-size: 2.4rem;
    }

    .autocom-box.active p {
        font-size: 2.4rem;
    }

    .main-display__views {
        font-size: 1.8rem;
    }

    .main-display__date {
        font-size: 1.7rem;
    }

    .title__main {
        font-size: 2.2rem;
    }

    .title__right span {
        font-size: 1.7rem;
    }

    .title__count {
        font-size: 2.2rem;
    }

    .trending__header {
        font-size: 1.7rem;
    }

    .trending__date {
        font-size: 1.5rem;
    }

    .trending__plash span {
        font-size: 1.7rem;
    }

    .trending__time {
        font-size: 1.6rem;
    }

    .popular__header {
        font-size: 1.3rem;
    }

    .popular__date {
        font-size: 1.25rem;
    }

    .aside__header {
        font-size: 2.2rem;
    }

    .aside__sort-text {
        font-size: 1.6rem;
    }

    .aside__sort-select span {
        font-size: 1.6rem;
    }

    .aside__views {
        font-size: 1.8rem;
    }

    .aside__item-date {
        font-size: 1.7rem;
    }

    .aside__favourite-text {
        font-size: 2.2rem;
    }

    .aside__genre {
        font-size: 1.5rem;
    }

    .aside__favourite {
        padding-right: 2rem;
    }

    .aside__add {
        font-size: 1.4rem;
    }
}

/*1440px=90em*/
@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

/*1280px=80em*/
@media (max-width: 80em) {
    html {
        font-size: 7.2px;
    }

    .autocom-box li {
        font-size: 2.5rem;
    }

    .main-display__views, .aside__views {
        font-size: 2.2rem;
    }

    .main-display__date {
        font-size: 1.9rem;
    }

    .title__main {
        font-size: 2.6rem;
    }

    .title__right span {
        font-size: 1.9rem;
    }

    .trending__plash span {
        font-size: 1.8rem;
    }

    .trending__header {
        font-size: 1.8rem;
    }

    .trending__date {
        font-size: 1.7rem;
    }

    .trending__time {
        font-size: 1.7rem;
    }

    .popular__header {
        font-size: 1.3rem;
    }

    .popular__date {
        font-size: 1.2rem;
    }


    .aside__sort-text {
        font-size: 1.9rem;
    }

    .aside__sort-select span {
        font-size: 1.8rem;
    }

    .aside__item-date {
        font-size: 1.5rem;
    }

    .aside__favourite {
        padding-right: 0rem;
    }

    .aside__favourite-text {
        font-size: 2.4rem;
    }

    .aside__genre {
        font-size: 1.35rem;
    }

    .aside__add {
        font-size: 1.7rem;
    }

    .modal__content {
        width: 70%;
    }

    .modal__info li {
        font-size: 3.3rem;
    }

    .modal__info p {
        font-size: 3.5rem;
    }
}

/*1152px=72em*/
@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }

    .header__nav a:not(:last-child) {
        margin-right: 1rem;
    }

    .header__day {
        font-size: 1.5rem;
    }

    .main-display__views, .aside__views {
        font-size: 1.7rem;
    }

    .title__main {
        font-size: 2.1rem;
    }

    .title__count {
        font-size: 2.1rem;
    }

    .title__right span {
        font-size: 1.5rem;
    }

    .trending__plash span {
        font-size: 1.5rem;
    }

    .trending__header {
        font-size: 1.55rem;
    }

    .trending__date {
        font-size: 1.25rem;
    }

    .trending__time {
        font-size: 1.65rem;
    }

    .popular__header {
        font-size: 1.3rem;
    }

    .aside__header {
        font-size: 2.1rem;
    }

    .aside__item-date {
        font-size: 1.5rem;
    }

    .aside__sort-text {
        font-size: 1.45rem;
    }

    .aside__sort-select span {
        font-size: 1.45rem;
    }

    .aside__favourite-text {
        font-size: 2.1rem;
    }

    .aside__add {
        font-size: 1.5rem;
    }
}

/*1024px=64em*/
@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }

    .header__day {
        font-size: 1.7rem;
    }

    .autocom-box li {
        padding-right: 7rem;
        font-size: 2.5rem;
    }

    .main-display__date {
        font-size: 1.5rem;
    }

    .title__main {
        font-size: 2.1rem;
    }

    .title__count {
        font-size: 2.1rem;
    }

    .title__right span {
        font-size: 1.5rem;
    }

    .trending__plash span {
        font-size: 1.6rem;
    }

    .trending__header {
        font-size: 1.55rem;
    }

    .trending__date {
        font-size: 1.4rem;
    }

    .trending__time {
        font-size: 1.45rem;
    }

    .popular__header {
        margin-left: -2.5rem; 
        font-size: 1.5rem;
        line-height: 140%;
    }

    .popular__date {
        margin-left: -2.5rem;
        font-size: 1.35rem;
    }

    .small-plus {
        width: 2rem;
        height: 2rem;
        left: 5%;
    } 

    .aside__header {
        font-size: 2.1rem;
    }

    .aside__item-date {
        font-size: 1.5rem;
    }

    .aside__genre {
        font-size: 1.5rem;
    }

    .aside__favourite-text {
        font-size: 2.1rem;
    }

    .aside__favourite {
        padding-right: 0;
    }

    .aside__add {
        font-size: 1.5rem;
    }

    .modal__content {
        width: 70%;
    }

    .modal__info li {
        font-size: 3.5rem;
    }

    .modal__info p {
        font-size: 4rem;
    }
}

/*768px=48em*/
@media (max-width: 48em) {
    html {
        font-size: 10px;
    }

    .grid {
        grid-template-areas: "my-header my-header my-header"
                             "my-main my-main my-main"
                             "my-aside my-aside my-aside";
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }

    .header__burger-nav.shown {
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: flex;
        position: absolute;
        width: 100vw;
        height: 50vh;
        padding: 0;
        margin-left: 0;
        margin-top: 7rem;
        font-size: 2.5rem;
        background: #171618;
        z-index: 100;
    }

    .header__burger-nav.shown a {
        margin-bottom: 1rem;
        font-size: 2.7rem;
    }

    .header__logo {
        font-size: 5rem;
        line-height: 117%;
        margin-right: 2rem;
        font-weight: bold;
    }

    .header__burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 5rem;
        height: 4rem;
        padding-right: 2rem;
    }

    .header__burger-nav .current {
        width: 20%;
    }

    .autocom-box li {
        padding-left: .1rem;
        padding-right: 7rem;
        font-size: 2.2rem;
    }

    .modal__info li {
        padding: 2rem 5rem 2rem 2rem;
        font-size: 3rem;
        cursor: pointer;
    }

    .header__nav {
        display: none;
    }

    .header__find {
        width: 24.5rem;
        margin-right: 2rem;
    }

    .header__day {
        font-size: 1.3rem;
    }

    .header__personal {
        margin-left: 2rem;
    }

    .main-display__views, .aside__views {
        font-size: 2rem;
    }

    .main-display__date, .aside__item-date {
        font-size: 2rem;
    }

    .trending, .popular {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .trending.shown, .popular.shown {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .trending__plash span {
        font-size: 2rem;
    }

    .trending__plash img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .trending__header, .trending__date {
        font-weight: bold;
        margin-left: -1.6rem;
        font-size: 2rem;
    }

    .small-plus {
        left: 3%;
        width: 2rem;
        height: 2rem;
    }

    .small {
        left: 3%;
    }

    .trending__time {
        font-size: 1.8rem;
    }

    .trending__item, .popular__item {
        width: 98.5%;
        margin-bottom: .7rem;
    }

    .title__right span {
        font-size: 1.8rem;
    }

    .title__main {
        font-size: 2.4rem;
    }

    .title__count {
        font-size: 2.2rem;
    }

    .popular__title {
        left: 6%;
    }

    .popular__header {
        font-size: 2rem;
        margin-left: .2rem;
    }

    .popular__date {
        font-size: 2rem;
        margin-left: .2rem;
    }

    .popular__footer {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .popular__img {
        width: 2rem;
        height: 2rem;
    }

    .popular__rating span {
        font-size: 1.8rem;
    }

    .popular__rating {
        margin-right: 0;
    }

    .aside__header {
        font-size: 2.4rem;
    }

    .aside__sort-text, .aside__sort-select span {
        font-size: 1.8rem;
    }

    .aside__favourite-text {
        font-size: 2.4rem;
    }

    .aside__favourite {
        padding-right: 2rem;
    }

    .aside__genre {
        font-size: 1.9rem;
        padding: .7rem 1.1rem;
    }

    .aside__add {
        font-size: 1.9rem;
    }

    .modal__info p {
        font-size: 4rem;
    }

    .modal-video {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .modal-video__inner {
        position: fixed;
    }

    .modal-video__inner iframe {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .modal-search__inner {
        height: 65rem;
    }
}

/*704px=44em*/
@media (max-width: 44em) {
    html {
        font-size: 9px;
    }

    .header__burger-nav .current {
        width: 25%;
    }

    .header__find {
        width: 20rem;
    }

    .header__date {
        margin-left: 2rem;
    } 

    .header__day {
        font-size: 1.5rem;
    }

    .header__personal {
        margin-left: 3rem;
    }

    .autocom-box li {
        font-size: 1.8rem;
    }

    .autocom-box.active p {
        font-size: 1.8rem;
    }

    .popular__header {
        margin-left: .2rem;
    }

    .popular__date {
        margin-left: .2rem;
    }

    .modal-search__inner {
        height: 65rem;
    }

    .modal__content {
        width: 80%;
    }

    .modal__info li {
        font-size: 2.6rem;
    }
}

/*608px=38em*/
@media (max-width: 38em) {
    html {
        font-size: 8px;
    }

    .header__burger-nav.shown a {
        font-size: 2.8rem;
    }

    .header__find input {
        font-size: 2.4rem;
    }

    .header__find input::-webkit-input-placeholder  {
        font-size: 2.4rem;
    }

    .header__find input::-moz-placeholder  {
        font-size: 2.4rem;
    }

    .header__find input:-ms-input-placeholder  {
        font-size: 2.4rem;
    }

    .header__find input::placeholder  {
        font-size: 2.4rem;
    }

    .header__find {
        width: 23rem;
        margin-right: .2rem;
    }
    
    .header__date {
        margin-left: 1rem;
    }

    .header__time {
        font-size: 2.1rem;
    }

    .header__day {
        font-size: 1.6rem;
    }

    .header__personal {
        margin-left: 2.5rem;
    }

    .autocom-box.active p {
        font-size: 2.5rem;
    }

    .autocom-box li {
        font-size: 2.5rem;
        padding-left: .7rem;
    }

    .title__main {
        font-size: 2.6rem;
    }

    .title__count {
        font-size: 2.4rem;
    }

    .title__right span {
        font-size: 2.4rem;
    }

    .trending__time {
        font-size: 2.3rem;
    }

    .trending__plash span {
        font-size: 2.4rem;
    }

    .trending__plash img {
        width: 2rem;
        height: 2rem;
    }

    .trending__header, .trending__date {
        font-size: 2.6rem;
    }

    .popular__header {
        font-size: 2.6rem;
        line-height: 120%;
    }

    .button-play__wrap {
        width: 7.5rem;
        height: 7.5rem;
    }

    .small {
        width: 3.2rem;
        height: 3.2rem;
    }

    .small-plus {
        width: 2.6rem;
        height: 2.6rem;
    }

    .popular__date {
        font-size: 2.4rem;
    }

    .popular__rating span {
        font-size: 2.2rem;
    }

    .aside__header {
        font-size: 2.6rem;
    }

    .aside__item-name {
        font-size: 2.6rem;
    }

    .main-display__header {
        font-size: 2.6rem;
        margin-bottom: -.5rem;
        line-height: 150%;
    }

    .main-display__views, .aside__views {
        font-size: 2.6rem;
    }

    .main-display__date, .aside__item-date {
        font-size: 2.6rem;
    }

    .main-display__date {
        margin-bottom: -.5rem;
    }

    .aside__sort-text, .aside__sort-select span {
        font-size: 2.3rem;
    }

    .aside__sort-img img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .aside__favourite-text {
        font-size: 2.6rem;
    }

    .aside__favourite {
        padding-right: 8rem;
    }

    .aside__genre {
        font-size: 2.6rem;
    }

    .aside__add {
        font-size: 2.6rem;
    }

    .modal__info li {
        padding: 1.5rem;
    }

    .autocom-box.active li img, .modal__body li img {
        height: 10rem;
    }

    .modal-search__inner {
        height: 100rem;
    }
}

/*544px=34em*/
@media (max-width: 34em) {
    html {
        font-size: 7px;
    }

    .header__wrap {
        position: relative;
        padding-right: 1rem;
    }

    .header__burger-nav.shown a {
        margin-bottom: 2rem;
        font-size: 4.5rem;
    }

    .header__burger-nav .current {
        width: 30%;
    }

    .header__find {
        display: none;
    }

    .header__find-s {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-right: 6rem;
    }

    .header__find-s input {
        display: none;
    }

    .header__personal {
        position: absolute;
        right: 2%;
    }

    .header__find-s input.shown {
        position: absolute;
        display: block;
        left: 0%;
        top: 0%;
        z-index: 900;
        width: 100%;
        height: 15vh;
        font-size: 3rem;
    }

    .header__time {
        font-size: 2.2rem;
    }

    .header__day {
        font-size: 2.2rem;
    }

    .input_close {
        display: none;
    }

    .input_close.shown {
        display: block;
        position: absolute;
        right: 0%;
        z-index: 999;
        width: 4rem;
        height: 5rem;
    }

    .main-display__views, .aside__views {
        font-size: 2.2rem;
    }

    .main-display__date, .aside__item-date {
        font-size: 2.2rem;
    }

    .title__main {
        font-size: 2.4rem;
    }

    .title__count {
        font-size: 2rem;
    }

    .title__right span {
        font-size: 2rem;
    }

    .trending__header, .trending__date {
        font-size: 2.2rem;
    }

    .trending__plash span {
        font-size: 2.4rem;
    }

    .popular__header {
        font-size: 2.2rem;
    }

    .popular__date {
        font-size: 2.2rem;
    }

    .aside__header {
        font-size: 2.4rem;
    }

    .aside__sort-text, .aside__sort-select span {
        font-size: 1.9rem;
    }

    .aside__favourite-text {
        font-size: 2.4rem;
    }

    .aside__favourite {
        padding-right: 8rem;
    }

    .aside__genre {
        font-size: 2.5rem;
    }

    .aside__add {
        font-size: 2.4rem;
    }

    .modal__content {
        width: 70%;
    }

    .modal__info li {
        padding-right: 6rem;
    }
}

/*480px=30em*/
@media (max-width: 30em) {
    html {
        font-size: 6px;
    }

    .header__logo {
        font-size: 5rem;
        margin-right: 1.5rem;
    }

    .header__burger-nav.shown a {
        margin-bottom: 1rem;
        font-size: 4rem;
    }

    .header__burger-nav .current {
        width: 40%;
    }

    .header__find-s {
        padding-right: 2.5rem;
    }

    .header__find-s input.shown {
        font-size: 3.5rem;
    }

    .header__time {
        font-size: 2.4rem;
    }

    .header__day {
        font-size: 2.4rem;
    }

    .button-play__wrap {
        width: 6.5rem;
        height: 6.5rem;
    }

    .small {
        left: 5%;
        width: 5rem;
        height: 5rem;
    }

    .small-plus {
        left: 4%;
        width: 3.5rem;
        height: 3.5rem;
    }

    .main-display__header {
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .main-display__date {
        margin-bottom: -1rem;
    }

    .main-display__views, .aside__views {
        font-size: 2.8rem;
    }

    .main-display__date, .aside__item-date {
        font-size: 2.7rem;
    }

    .title__main {
        font-size: 2.6rem;
    }

    .title__count {
        font-size: 2.5rem;
    }

    .title__right span {
        font-size: 2.5rem;
    }

    .trending__plash span {
        font-size: 2.6rem;
    }

    .trending__plash img {
        width: 2.4rem;
        height: 2.4rem;
    }

    .trending__header, .trending__date {
        font-size: 2.3rem;
        margin-left: -.5rem;
    }

    .trending__time {
        font-size: 2.4rem;
    }

    .popular__footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .popular__header {
        font-size: 2.7rem;
        margin-left: 1rem;
    }

    .popular__date {
        font-size: 2.7rem;
        margin-left: 1rem;
    }

    .popular__img {
        width: 2.4rem;
        height: 2.4rem;
    }

    .popular__rating span {
        font-size: 2.6rem;
    }

    .aside__favourite-text {
        font-size: 2.8rem;
    }

    .aside__header {
        font-size: 2.8rem;
    }

    .aside__sort-img img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .aside__sort-text, .aside__sort-select span {
        font-size: 2.6rem;
    }

    .aside__item-name {
        font-size: 2.8rem;
    }

    .aside__add {
        font-size: 2.6rem;
    }

    .aside__genre {
        font-size: 2.8rem;
    }

    .aside__favourite {
        padding-right: 10rem;
    }

    .modal__info li {
        padding-right: 7rem;
    }

    .modal__content {
        width: 90%;
    }

    .modal__info li {
        font-size: 4rem;
        line-height: 120%;
    }
}

/*336px=21em*/
@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }

    .header__burger {
        width: 4.5rem;
    }

    .header__logo {
        font-size: 4.8rem;
    }

    .header__burger-nav.shown a {
        margin-bottom: 1rem;
        font-size: 4.8rem;
    }

    .header__burger-nav .current {
        width: 50%;
    }

    .header__find-s {
        width: 5.5rem;
    }

    .header__find-s input {
        font-size: 4rem;
    }

    .header__date {
        position: absolute;
        left: 54%;
    }

    .header__day {
        font-size: 2rem;
    }

    .header__time {
        font-size: 2.1rem;
    }

    .title__main {
        font-size: 2.3rem;
    }

    .title__count {
        font-size: 2.2rem;
    }

    .title__right span {
        font-size: 2rem;
    }

    .trending__header, .trending__date {
        font-size: 2.1rem;
    }

    .trending__time {
        font-size: 2rem;
    }

    .popular__header, .popular__date {
        margin-left: 1rem;
    }

    .small {
        width: 4rem;
        height: 4rem;
    }

    .small-plus {
        width: 3rem;
        height: 3rem;
    }

    .popular__header {
        font-size: 2.35rem;
    }

    .popular__date {
        font-size: 2.35rem;
    }

    .popular__img {
        width: 2rem;
        height: 2rem;
    }

    .aside__sort-img img {
        width: 1rem;
        height: 1rem;
    }

    .aside__item-name {
        font-size: 2.5rem;
    }

    .main-display__header {
        font-size: 2.4rem;
        margin-bottom: .1rem;
    }

    .main-display__date, .aside__item-date {
        font-size: 2.5rem;
    }

    .aside__favourite  {
        padding-right: .2rem;
    }

    .aside__add {
        font-size: 2.7rem;
    }

    .modal__info li {
        font-size: 3rem;
        line-height: 120%;
    }
}   